<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<style>
		body, html {
			height: 100%;
		}
		.wrapper {
			height: 100%;
			text-align: center;
		}

		.header {
			padding: 20px 0 0;
			font-size: 2em;
		}

		.message{
			font-size: 1.67em;
			color: #205081;
			padding-bottom: 20px;
		}

	</style>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<span class="header-title">Welcome to your dashboard</span>
		</div>
		<div class="content">
			{% if pending %}
			<div class="message">You are seeing this because a user is interested in {{pending}}</div>
			{% endif %}
			<form action="" method="post">
				<input class="input" type="text" placeholder="Headline" name="headline" value="{{
				request.form.headline }}"  />
				<input class="input" type="text" placeholder="Description" name="description" value="{{
				request.form.description }}" />
				<input class="input" type="text" placeholder="Validity (in days)" name="validity" value="{{
				request.form.validity }}" />
				<input class="btn btn-default" type="submit" value="Add Item">
			</form>
			{% if error %}
			<p class="error"><strong>Message:</strong> {{ error }}
				{% endif %}
			</p>
		</div>
	</div>
</body>